@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@200;300;400;500;600;700&display=swap');

$btn-width:100px;
$btn-height: 32px;
$blue-1:#2F80ED;
$blue-2: #0657c3;

.grid{
  background-color: white;
  width: 402px;
  height: 469px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: grid;
  grid-row-gap: 1rem;
  grid-template-rows: repeat(5,1fr);
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 2rem;
}



h1{
  color: #4F4F4F;
  font-weight: 500;
  margin: 0;
  display: inline-block;
  height: fit-content;
}
h6{
  color: #828282;
  font-weight: 500;
  margin: 0;
  display: inline-block;
  height: fit-content;

}

.drag-image{
  width: 338px;
  height: 218.9px;
  background-color: #F6F8FB;
  border: 1px dashed #97BEF4;
  border-radius: 12px;
  background-image: url("../../assets/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button-text{
  font-size: 0.9rem;
}


.file-input-wrapper {
  width: $btn-width;
  height:$btn-height;
  overflow: hidden;
  position: relative;
  justify-self: center;

}
.file-input-wrapper > input[type="file"] {
  font-size: 200px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.file-input-wrapper > .btn-file-input {
  display: inline-block;
  width: $btn-width;
  height:$btn-height;
  background: $blue-1;
  border: none;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  animation: btn-hover-leave 1s forwards;
}

.file-input-wrapper:hover > .btn-file-input {
  animation: btn-hover 1s forwards;
}

@keyframes btn-hover {
  from{
    background-color: $blue-1;
  }
  to{
    background-color: $blue-2;
  }
}
 @keyframes btn-hover-leave {
   from{
     background-color: $blue-2;
   }
   to{
     background-color: $blue-1;
   }
 }
